Model/harvester/desc2026.xml
Model/harvester/seeders/mesh/storage/
Model/harvester/storage/seeds/mesh_seed_D.json
Model/harvester/storage/outputs/who/faiss/embeddings.npy
Model/harvester/storage/outputs/who/faiss/index.faiss
Model/harvester/storage/outputs/who/faiss/metadata.json
Model/harvester/storage/outputs/webmd/faiss/embeddings.npy
Model/harvester/storage/outputs/webmd/faiss/metadata.json
Model/harvester/storage/outputs/webmd/faiss/index.faiss
Model/harvester/storage/seeds/embeddings/sapbert_embeddings.npy
Model/harvester/storage/seeds/embeddings/metadata.json
Model/harvester/storage/webmd/allarticles
Model/harvester/storage/webmd/articles
Model/harvester/storage/webmd/healthtopics
Model/harvester/storage/outputs/webmd/faiss/sapbert_embeddings.npy
Model/storage/embeddings.npy
Model/storage/index.faiss
.gitignore
.gitignore
Model/storage/metadata.json
